.container {
    width: 80%;
    margin: auto;
    border: 2px solid orange;
    padding: 20px;
    box-sizing: border-box;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    border: 2px solid orange;
    margin: 5px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid orange;
    text-align: center;
    padding: 10px;
}

button {
    background-color: orange;
    color: white;
    cursor: pointer;
}

.grafico {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    border: 2px solid orange;
    padding: 20px;
    flex-wrap: nowrap; /* Evita que las barras se envuelvan a la siguiente línea */
    height: 150px; /* Altura fija para el contenedor del gráfico */
    position: relative; /* Para manejar la posición de las barras */
}

.bar {
    width: 100px; /* Ancho de las barras */
    margin: 0 5px; /* Espaciado horizontal entre barras */
    position: relative;
    display: flex;
    align-items: flex-start; /* Alinear las barras desde la parte superior */
    justify-content: center; /* Centra el texto horizontalmente */
    
}

.percentage {
    margin-left: 5px; /* Espaciado menor entre el texto y la barra */
}

/* Ajustes para el gráfico circular */
.grafico-circular {
    display: flex;
    justify-content: center;
    margin: 20px auto; /* Centrar el gráfico circular */
}

canvas {
    width: 300px !important; /* Establecer el ancho del gráfico circular */
    height: 300px !important; /* Establecer la altura del gráfico circular */
}
